title = "Example Configuration"

;Always use forward slashs for paths! Even on windows!

log_file_location = "./log.log"
data_file_location = "./exampledatabase.data"
max_worker_threads = 4
source = "/home/test/test"
destination = "/another/home/test"

[saveguard]
saveguard = true
saveguard_max_percentage = 50

[scantype]
blake2b_based